<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<style type="text/css">

</style>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title></title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="" />
</head>
<body>
	<!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

	<div class="text-center">
		<h1 class="display-2">Simulacion de Scrum - Universidad ICESI</h1>
		<h1 class="display-4">Gestion de Historias</h1>
		<h2 th:if="${stories.empty}">No hay historias!</h2>
		<table th:if="${not stories.empty}" class="table">
			<thead>
				<tr>
					<th scope="col">Valor de negocio</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Sprint Inicial</th>
					<th scope="col">Numero</th>
					<th scope="col">Prioridad</th>
					<th scope="col">Editar</th>
					<th scope="col">Borrar</th>
					<th scope="col">Juego</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="story : ${stories}">
					<td>
						<p th:text="${story.businessValue}"></p>
					</td>

					<td>
						<p th:text="${story.description}"></p>
					</td>

					<td>
						<p th:text="${story.initialSprint}"></p>
					</td>


					<td>
						<p th:text="${story.number}"></p>
					</td>

					<td>
						<p th:text="${story.priority}"></p>
					</td>

					<td><a th:href="@{/stories/edit/{id}(id=${story.id})}"
						class="btn btn-primary"><i class="fas fa-edit"></i></a></td>

					<td><a th:href="@{/stories/del/{id}(id=${story.id})}"
						class="btn btn-primary"><i class="fas fa-trash"></i></a></td>

					<td><a th:if="${story.tsscGame != null}"
						th:href="@{/games/edit/{id}(id=${story.tsscGame.id})}"
						class="btn btn-primary"><i class="fas fa-gamepad"></i></a></td>
				</tr>

			</tbody>
		</table>

		</table>

		<table class="table">

			<tbody>
				<tr>
					<td><a href="/stories/add" class="btn btn-primary fixed"><i
							class="fas fa-user-plus ml-2"></i> Add</a></td>

					<td><a href="/" class="btn btn-primary fixed"><i
							class="fas fa-home ml-2"></i> Home</a></td>
				</tr>

			</tbody>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/9c90515ed3.js"
		crossorigin="anonymous"></script>
</body>
</html>